
#bio-main {
    width: 100%;
    height: 75%;
    background-color: rgb(80, 207, 128);
    position: relative;
    top: 0;
    right: 0;

    .img-wrap {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // border: 1px solid red;

        img {
            margin-top: 27%;
            position: relative;
            // border: 1px solid rgb(44, 170, 84);
            width: 50%;
            height: 125%;
            top: 0%;
            left: 0%;
            z-index: 2;
        }

        .circ:nth-of-type(1) {
            
            margin-left: 51%;
            margin-top: 30%;
            position: absolute;
            width: 50%;
            height: 125%;
            border-radius: 50%;
            background-color: rgb(46, 116, 73);
            box-shadow: 0px 0px 100px 50px rgb(46, 116, 73);
        }

        .circ:nth-of-type(2) {
            
            position: absolute;
            right: 8%;
            bottom: 30%;
            width: 20%;
            height: 50%;
            border-radius: 50%;
            background-color: rgb(190, 226, 205);
            box-shadow: 0px 0px 100px 50px rgb(190, 226, 205);
        }

        .circ:nth-of-type(3) {
            
            position: absolute;
            left: -20%;
            top: -40%;
            width: 80%;
            height: 200%;
            border-radius: 50%;
            background-color: rgb(190, 226, 205);
            box-shadow: 0px 0px 100px 50px rgb(190, 226, 205);
            // animation: 5s linear 0s 1 forwards sharpen-shadows-1;
        }
    }

    .bio-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        // height: 50%;
        // border: 1px solid blue;
        font-family: 'Space Grotesk', sans-serif;
        display: block !important;

        h1 {
            display: inline-block;
            position: relative;
            font-size: 4vw;
            padding: 0;
            margin: 0;
            margin-top: 10%;
            margin-left: 40px;
            // width: 62%;
            overflow: hidden;
            white-space: nowrap;
            letter-spacing: .1em;
            border-right: .1em solid rgb(46, 116, 73);

            // animation-delay: 1000ms;

            // animation: 
            //     title-typing 2.5s steps(13, end),
            //     blink-caret .8s step-end infinite;
        }

        

        h2 {
            display: block;
            font-size: 1.5vw;
            padding: 0;
            margin: 0;
            margin-top: 10px;
            margin-left: 40px;
            // opacity: 0;

            // width: 74%;

            // // border: 1px solid red;
            // overflow: hidden;
            // white-space: nowrap;
            // letter-spacing: .05em;
            // border-right: .1em solid rgb(46, 116, 73);

            // animation: 2s ease-in 3s 1 forwards description-fade;
            //     description-typing 3.5s steps(30, end),
            //     blink-caret .5s step-end infinite;
        }
    }
}

.links-section {
    margin-top: 10px;
    display: flex;
    width: 60%;
    height: 10vw;
    margin-left: 40px;
    justify-content: space-around;
    align-items: center;
    // opacity: 0;
    z-index: 10;

    // animation: 2s ease-in 3s 1 forwards description-fade;

    .icon {
        pointer-events: all;
        
    }

    .icon:hover {
        color:rgb(242, 242, 242);
        color: rgb(46, 116, 73);
    }

    .resume {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        // img {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        // }
    }

    // i {
    //     border: 1px solid red;
    //     width: 100px;
    //     height: 100px;
    // }
}

// #external-links {
//     position: relative;
// }

#link-details {
    margin-top: -10vw;
    justify-content: center;
    align-items: center;
    position: relative;

    .drawn-circ {
        position: relative;
        top: 0; left: 0;
        width: 35%;
        height: auto;
    }

    .drawn-arrow {
        position: absolute;
        width: 18%;
        height: auto;
        top: 80%;
        left: 50%;
        transform: rotate(-110deg);
    }

    .resume-text {
        position: absolute;
        top: 115%;
        left: 70%;
        font-size: 1.1vw;

        p {
            margin: 0;
            padding: 0;
        }
    }
}