$transitionTime: 0.5s;

#projects-main {
    width: 100%;
    height: 75%;
    background-color: rgb(208, 112, 112);
    // overflow: hidden;
    position: relative;
    top: 0;
    

    .project-title {
        font-size: 4rem;
        color: rgb(25, 24, 24);
        padding: 1.5% 2%;
        
        h1 {
            margin: 0;
        }
    }

    .panel-name {
        width: 100%;
        position: absolute;
        bottom: 5%;
        font-size: 4rem;

        h2 {
            text-align: center;
            margin: 0;
        }
    }

    .spinner-container {
        // z-index: 100;
        height: 0;
        width: 86%;
        padding-bottom: 86%;
        margin-left: 7%;
        margin-top: 10%;
        transform-origin: center center;

        transition: all 0.5s;
        transition-timing-function: ease-in-out;

        // animation: 1s linear 0s 1 forwards projects-rotate-30;
        // animation: 2.5s ease-in-out 0s 1 forwards projects-rotate-fade;


    }

    .spinner {
        position: absolute;
        height: 0;
        padding-bottom: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: none;

        .spin-item {
            pointer-events: all;
            transition: all $transitionTime;
            transition-timing-function: ease-in-out;
            width: 10%;
            height: 10%;
            margin-left: 45%;
            background-color: rgb(237, 237, 237);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

    }

    #s3 {
        width: 12%;
        height: 12%;
        margin-left: 44%;
        background-color: rgb(109, 191, 229);

        .icon {
            color: white;
            font-size: 4rem;
            transition: all $transitionTime;
            transition-timing-function: ease-in-out;
            
        }
    }

    .spinner #blank {
        width: 10%;
        height: 10%;
        margin-left: 45%;
        background-color: rgb(237, 237, 237);
    }

    .spinner:nth-of-type(1) {
        transform: rotate(0deg);
        // background-color: white;

        
    }

    .spinner:nth-of-type(2) {
        transform: rotate(30deg);
    }

    .spinner:nth-of-type(3) {
        transform: rotate(60deg);
    }

    .spinner:nth-of-type(4) {
        transform: rotate(90deg);
    }

    .spinner:nth-of-type(5) {
        transform: rotate(120deg);
    }

    .spinner:nth-of-type(6) {
        transform: rotate(150deg);
    }

    .spinner:nth-of-type(7) {
        transform: rotate(180deg);
    }

    .spinner:nth-of-type(8) {
        transform: rotate(210deg);
    }

    .spinner:nth-of-type(9) {
        transform: rotate(240deg);
    }

    .spinner:nth-of-type(10) {
        transform: rotate(270deg);
    }

    .spinner:nth-of-type(11 ) {
        transform: rotate(300deg);
    }

    .spinner:nth-of-type(12) {
        transform: rotate(330deg);
    }
}