// --- ANIMATIONS ---
@keyframes panel-fullscreen {
    from {
        height: 19.5%;
        width: 19.6%;
        margin-left: 10%;
        margin-top: 6.2%;
    }
    to {
        width: 96%;
        height: 90%;
        margin-left: 2%;
        margin-top: 3%;
    }
}

#fullscreen-main {
    pointer-events: none;
    height: 100%;
    width: 100%;
    background-color: none;
    z-index: 100;
    position: relative;

    .anim-panel {
        position: absolute;
        border-radius: 15px;
        background-color: rgba(216, 216, 216, 0.695);

        // animation: panel-fullscreen 2s;

        height: 19.5%;
        width: 19.6%;
        margin-left: 10%;
        margin-top: 6.2%;
        
        
    }
}