@import '../partials/animations';
@import '../partials/variables';

$hudheight: 25%;

#menu-main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .menu-main-container {
        width: 80%;
    
        .stretchy-wrapper {
            width: 100%;
            padding-bottom: 56.25%; /* 16:9 */
            position: relative;
        
            background: rgb(216, 216, 216);
    
            div {
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;
                
                display: flex;
                // justify-content: center;
                // align-items: center;
                

                .panel-container {
                    z-index: 2;
                    height: inherit;
                    width: inherit;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .panels {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 80%;
                        height: 60%;
                        margin-top: -10%; // offset panels to match wii layout
                        // border: 1px solid red;

                        .p-row {
                            position: relative;
                            width: 100%;
                            height: 94%;
                            display: flex;
                            justify-content: space-between;

                            

                            .panel {
                                position: relative;
                                z-index: 10;
                                height: inherit;
                                width: 24%;
                                border-radius: 15px;
                                background-color: rgb(232, 232, 232);
                                border: 0.3rem solid grey;
                            }

                            .panel:hover {
                                border: 0.3rem solid rgb(31, 206, 255);
                            }

                        }                        
                    }
                }

                .hud-container {
                    z-index: 1;
                    height: inherit;
                    width: inherit;
                    position: absolute;
                    display: flex;
                    
                    .hud {
                        width: 100%;
                        height: $hudheight;
                        background-color: rgb(196, 196, 196);
                        position: relative;
                        top: calc(100% - $hudheight);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        #right-cap {
                            margin-left: 0;
                            margin-right: 6%;

                            #right-ring {
                                margin-left: 0;
                                margin-left: 52.5%;
                                // border: 1px solid red;
                            }
                        }

                        .hud-cap {
                            position: relative;
                            width: 8%;
                            padding-bottom: 8%;
                            margin-top: -1%;
                            margin-left: 6%;
                            // margin-top: 2.5%;
                            height: 0;
                            border-radius: 50%;
                            background-color: rgb(227, 227, 227);
                            border: 0.3rem solid rgb(171, 171, 171);

                            

                            .hud-button {
                                width: 92%;
                                height: 92%;
                                border-radius: 50%;
                                background-color: rgb(227, 227, 227);
                                border: 0.3rem solid rgb(12, 213, 249);
                                z-index: 5;

                                
                            }

                            // left side hud-ring

                            .hud-ring {
                                position: absolute;
                                // left: -77.5%;
                                margin-left: -77.5%;
                                width: 125%;
                                height: 0;
                                margin-top: -2%;
                                padding-bottom: 100%;
                                background-color: rgb(227, 227, 227);
                                border-top: 0.3rem solid rgb(171, 171, 171);
                                border-bottom: 0.3rem solid rgb(171, 171, 171);
                                z-index: 1;

                                

                                
                            }

                        }
                        
                    }
                }                
            }
        }
    }
}

// note parent div has {display: flex};
#clock {
    visibility: hidden; // Temporarily Hidden
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    .clock-main {
        position: absoulte;
        width: 100%;
        padding-bottom: 56.25%; //16:9 aspect ratio
        // margin-top: -56.25%;
        height: 0;
        // border: 5px solid rgb(77, 110, 233);
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        

        z-index: 50;

        #time {
            margin: 0;
            margin-top: 40%;//accounts for main using padding-bottom instead of height
            border: 1px solid red;
            font-size: 6rem;
        }

        #date {
            margin: 0;
            margin-top: 3%;
            font-size: 5rem;
            border: 1px solid red;
        }
    }
}








