$hudheight: 25%;

#menu-main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .menu-main-container {
        width: 80%;
    
        .stretchy-wrapper {
            width: 100%;
            padding-bottom: 56.25%; /* 16:9 */
            position: relative;
        
            background: rgb(216, 216, 216);
    
            div {
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;
                
                display: flex;
                // justify-content: center;
                // align-items: center;
                

                .panel-container {
                    z-index: 2;
                    height: inherit;
                    width: inherit;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .panels {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 80%;
                        height: 60%;
                        margin-top: -10%; // offset panels to match wii layout
                        // border: 1px solid red;

                        .p-row {
                            position: relative;
                            width: 100%;
                            height: 94%;
                            display: flex;
                            justify-content: space-between;

                            .panel {
                                position: relative;
                                height: inherit;
                                width: 24%;
                                border-radius: 15px;
                                background-color: rgb(232, 232, 232);
                                border: 0.3rem solid grey;
                            }

                            .panel:hover {
                                border: 0.3rem solid rgb(31, 206, 255);
                            }
                        }                        
                    }
                }

                .hud-container {
                    z-index: 1;
                    height: inherit;
                    width: inherit;
                    position: absolute;
                    
                    .hud {
                        width: 100%;
                        height: $hudheight;
                        background-color: rgb(196, 196, 196);
                        position: relative;
                        top: calc(100% - $hudheight);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        

                        .hud-button {
                            position: relative;
                            width: 8%;
                            height: 0;
                            padding-bottom: 8%;
                            border-radius: 50%;
                            margin-left: 5%;
                            background-color: rgb(227, 227, 227);
                            border: 0.3rem solid rgb(31, 206, 255);
                        }

                        .hud-button:nth-of-type(2) {
                            margin-right: 5%;
                        }
                    }
                }                
            }
        }
    }
}





