@import '../partials/animations';
@import '../partials/variables';

$hudheight: 25%;

#menu-main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .menu-main-container {
        width: 80%;
        border: 1px solid red;
    
        .stretchy-wrapper {
            width: 100%;
            padding-bottom: 56.25%; /* 16:9 */
            position: relative;
        
            // background: rgb(216, 216, 216);
            background: repeating-linear-gradient(rgb(216, 216, 216), rgb(216, 216, 216) 2px, rgb(225, 225, 225) 2px, rgb(225, 225, 225) 6px);

    
            .spacing {
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;
                
                display: flex;
                // justify-content: center;
                // align-items: center;
                

                .panel-container {
                    @include flexFix;
                    z-index: 2;
                    height: inherit;
                    width: inherit;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .panels {

                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 80%;
                        height: 60%;
                        margin-top: -10%; // offset panels to match wii layout



                        .p-row {

                            position: relative;
                            width: 100%;
                            height: 94%;
                            display: flex;
                            justify-content: space-between;



                            

                            .panel {

                                position: relative;
                                z-index: 10;
                                height: inherit;
                                width: 24%;
                                border-radius: 15px;
                                background-color: rgb(232, 232, 232);
                                border: 0.3rem solid grey;
                            }

                            .panel:hover {

                                border: 0.3rem solid rgb(31, 206, 255);
                            }

                        }                        
                    }
                }

                .hud-container {
                    @include flexFix;

                    z-index: 1;
                    height: inherit;
                    width: inherit;
                    position: absolute;
                    display: flex;
                    // border: 1px solid red;
                    background-image: url('../../public/menu_footer_v2.png');
                    background-size: contain;
                    
                    .hud {

                        overflow: hidden;

                        opacity: 0.9;
                        // border: 1px solid blue;
                        width: 100%;
                        height: $hudheight;
                        background-color: rgba(196, 196, 196, 0);
                        position: relative;
                        top: calc(100% - $hudheight);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        

                        #left-cap {

                            margin-left: 4%;
                        }

                        #right-cap {

                            margin-right: 4%;

                            .hud-button {

                                margin-left: 10%;
                            }
                        }

                        .hud-cap {

                            position: relative;
                            width: 10%;
                            padding-bottom: 10%;
                            margin-top: -2%;
                            // margin-left: 6%;
                            height: 0;
                            border-radius: 50%;
                            background-color: rgb(227, 227, 227);
                            border: 0.6rem solid rgb(171, 171, 171);
                            


                            

                            .hud-button {

                                @include flexFix;
                                // visibility: hidden;
                                width: 85%;
                                height: 85%;
                                border-radius: 50%;
                                background-color: rgb(227, 227, 227);
                                border: 0.3rem solid rgb(12, 213, 249);
                                z-index: 5;
                                

                                
                            }


                            .hud-ring {

                                position: absolute;
                                width: 100%;
                                height: 0;
                                // margin-top: -5%;
                                padding-bottom: 100%;
                                background-color: rgb(227, 227, 227);
                                // border-top: 0.6rem solid rgb(171, 171, 171);
                                // border-bottom: 0.6rem solid rgb(171, 171, 171);
                                z-index: 1;

                            }

                            #left-ring {

                                margin-left: -44%;
                                box-shadow: -0.6rem 0 0 0.6rem rgb(171, 171, 171);
                            }
                            
                            #right-ring {

                                margin-left: 44%;
                                box-shadow: 0.6rem 0 0 0.6rem rgb(171, 171, 171);
                            }

                        }
                        
                    }
                }                
            }
        }
    }
}

// note parent div has {display: flex};
#clock {

    // visibility: hidden; // Temporarily Hidden
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;

    .clock-main {

        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(86, 86, 86);
        z-index: 50;

        #time {
            font-family: 'Roboto Mono', monospace;
            position: absolute;
            bottom: 10%;
            font-size: 6rem;
        }

        #date {
            font-family: 'Heebo', sans-serif;
            position: absolute;
            bottom: 7.5%;
            margin: 0;
            font-size: 4rem;
        }
    }
}








