@import './variables';
@import './mixins';

@include generatePanelAnimations($panelPositions);

// @keyframes panel-fullscreen {
//     from {
//         height: 19.5%;
//         width: 19.6%;
//         margin-left: 10%;
//         margin-top: 6.2%;
//     }
//     to {
//         width: 96%;
//         height: 90%;
//         margin-left: 2%;
//         margin-top: 3%;
//     }
// }

// @keyframes panel-shrink {
//     from {
//         width: 96%;
//         height: 90%;
//         margin-left: 2%;
//         margin-top: 3%;
//     }
//     to {
//         height: 19.5%;
//         width: 19.6%;
//         margin-left: 10%;
//         margin-top: 6.2%;
//     }
// }

@keyframes fade-to-black {
    from {}
    to {background-color: black;}
}

@keyframes fade-from-black {
    from {background-color: black;}
    to {background: rgb(216, 216, 216);}
}

@keyframes text-zoom {
    0% {font-size: 0px;}
    10% {font-size: 0.5rem;}
    90% {font-size: 3rem;}
}

