@import './variables';
@import './mixins';

// run the mixin for panel generating animations
@include generatePanelAnimations($panelPositions);

@keyframes fade-transition {
    from {
        visibility: visible;
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fade-from-black {
    from {background-color: black;}
    to {background: rgb(216, 216, 216);}
}

@keyframes text-zoom {
    0% {font-size: 0px;}
    10% {font-size: 0.5rem;}
    90% {font-size: 3rem;}
}

@keyframes transition-opacity {
    from {
        visibility: visible;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

