@import './variables';

// generate animations for each panel location
@mixin generatePanelAnimations($positions) {

    @each $panelId, $pos in $positions {

        // @error "pos: #{nth($pos, 1)}";

        @keyframes #{$panelId} {
            0% {
                margin-left: #{nth($pos, 1)};
                margin-top: #{nth($pos, 2)};
            }
            100% {
                width: 96%;
                height: 90%;
                margin-left: 2%;
                margin-top: 3%;
            }
        }
    }
};