@import './variables';

// generate animations for each panel location
@mixin generatePanelAnimations($positions) {

    @each $panelId, $pos in $positions {

        // @error "pos: #{nth($pos, 1)}";

        @keyframes #{$panelId} {
            0% {
                // width: 18.8%;
                // height: 18.5%;
                transform: scale(0.195, 0.195);
                margin-left: #{nth($pos, 1)};
                margin-top: #{nth($pos, 2)};
            }
            100% {
                // width: 96%;
                // height: 90%;
                transform: scale(1, 1);
                margin-left: 2%;
                margin-top: 3%;
            }
        }

        @keyframes #{$panelId}-reverse {
            0% {
                // width: 96%;
                // height: 90%;
                transform: scale(1, 1);
                margin-left: 2%;
                margin-top: 3%;
            }
            100% {
                // width: 18.8%;
                // height: 18.5%;
                transform: scale(0.195, 0.195);
                margin-left: #{nth($pos, 1)};
                margin-top: #{nth($pos, 2)};
            }
        }
    }
};