// list of all possible panel positions (length will determine # of anims generated)
$panelPositions: (
    p1: (
        -28.2%,
        -13.5%
    ),
    p2: (
        -8.05%,
        -13.5%
    ),
    p3: (
        12.05%,
        -13.5%
    ),
    p4: (
        32.15%,
        -13.5%
    )
);